[package]
name = "tupoll-overlay"
version = "0.1.0"
edition = "2024"

[dependencies]

[[bin]]
name = "tupoll-overlay"
path = "src/main.rs"

[profile.release]
strip = true      
lto = true        
opt-level = "z" 
